body {
    text-align: center;
    color: white;
    background: url(http://wallpaper-gallery.net/images/hd-wallpaper-galaxy/hd-wallpaper-galaxy-24.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    font-family:"Comic Sans MS";
}